<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.olacademy.olacademye_learning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cart"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar"></activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar"></activity>
    </application>

</manifest>